.deposits-list {
  width: 500px;
  margin: 20px auto;
  list-style-type: none;

  &__item {
    position: relative;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px 0;
    background: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: #6495ed;
    }
  }

  &__icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    font-size: 1.2rem;
    text-align: right;
    color: #a9a9a9;

    .fa {
      padding: 0 2px;
      cursor: pointer;

      &:hover {
        color: #6495ed;
      }
    }
  }
}

.hide {
  display: none;
}

.popup-info {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  position: absolute;
  left: 185%;
  top: -10px;
  background: white;
  padding: 10px;
  min-width: 315px;
  color: black;
  border-radius: 5px;

  &:before {
    content: '';
    position: absolute;
    left: -17px;
    top: 10px;
    border: 10px solid transparent;
    border-right: 10px solid white;
  }
}