* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f2f8fa;
  position: relative;
  padding-bottom: 100px;
}

.database-console {
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  color: white;
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.close-day-button {
  border: 0;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  background: white;
  float: left;
  font-weight: bold;

  &:hover {
    color: #6495ed;
  }
}
