.custom-form {
  width: 40%;
  margin: 0 auto;

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="submit"],
  select {
    box-sizing: content-box;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 3px;
  }

  input[type="submit"] {
    background: #051435;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 7px;
    margin: 5px 0;
  }

  input[type="radio"] {
    margin: 0;
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }

  &__block {
    margin: 10px 0;

    &-name {
      padding: 5px 0;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0 10px;
    line-height: 1.5rem;
  }

  &__label {
    &--inline {
      margin-right: 10px;
    }
  }

  input.ng-touched.ng-invalid,
  .invalid-form input.ng-invalid {
    border: 1px solid red;
  }
}
