.navigation-bar {
  height: 50px;
  text-align: right;
  background: rgba(0, 0, 0, 0.7);

  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 13px 10px;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      color: #6495ed;
    }

    &:last-child {
      margin-right: 10px;
    }
  }
}