.users-list {
  width: 500px;
  margin: 20px auto;
  list-style-type: none;

  &__item {
    position: relative;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px 0;
    background: white;
    border-radius: 5px;
  }

  &__icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    font-size: 1rem;
    text-align: right;
    color: #a9a9a9;

    .fa {
      padding: 0 2px;
      cursor: pointer;

      &:hover {
        color: #6495ed;
      }
    }
  }
}