.user-info {
  width: 500px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  padding: 15px 20px;

  p {
    margin: 5px 0;
  }

  strong {
    display: inline-block;
    width: 50%;
  }
}