<ul class="deposits-list">
    <li class="deposits-list__item"
        data-ng-repeat="deposit in deposits"
        data-ng-click="getDepositForm(deposit.id)">
        {{deposit.name}}
        <span open-popup class="deposits-list__icons">
            <i data-ng-click="openPopup($event)" class="fa fa-info-circle" aria-hidden="true"></i>
            <div data-ng-show="isOpen" class="popup-info">
                <div>Имя: {{deposit.name}}</div>
                <div>Процентная ставка: {{deposit.percent}}%</div>
                <div>Срок выплаты процентов: {{deposit.increasing}}</div>
                <div>Срок вклада: {{deposit.time}} суток</div>
                <div>
                    Капитализация:
                    <span data-ng-if="deposit.capitalization">да</span>
                    <span data-ng-if="!deposit.capitalization">нет</span>
                </div>
                <div>Стартовый счет: {{deposit.startDeposit}}BYN</div>
            </div>
        </span>
    </li>
</ul>