<div class="custom-form">
    <form name="userForm">
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Фамилия</h4>
            <input id="surname"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.surname"
                   placeholder="Фамилия"
                   maxlength="45"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Имя</h4>
            <input id="name"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.name"
                   placeholder="Имя"
                   maxlength="45"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Отчество</h4>
            <input id="patronymic"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.patronymic"
                   placeholder="Отчество"
                   maxlength="45"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Дата рождения</h4>
            <input id="birthday"
                   type="date"
                   data-ng-max="maxDate"
                   data-ng-model="userData.birthday"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Пол</h4>
            <label class="custom-form__label--inline" for="gender_male">
                <input type="radio"
                       id="gender_male"
                       name="gender"
                       value="1"
                       data-ng-model="userData.gender">
                <span>Мужской</span>
            </label>
            <label class="custom-form__label--inline" for="gender_female">
                <input type="radio"
                       id="gender_female"
                       name="gender"
                       value="2"
                       data-ng-model="userData.gender">
                <span>Женский</span>
            </label>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Серия паспорта</h4>
            <input type="text"
                   id="passport_series"
                   autocomplete="off"
                   data-ng-model="userData.passportSeries"
                   placeholder="Серия паспорта"
                   maxlength="2"
                   required>
            </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Номер паспорта</h4>
            <input type="text"
                   id="passport_number"
                   autocomplete="off"
                   data-ng-model="userData.passportNumber"
                   placeholder="Номер паспорта"
                   maxlength="7"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Кем выдан</h4>
            <input type="text"
                   id="passport_issuance"
                   autocomplete="off"
                   data-ng-model="userData.passportIssuance"
                   placeholder="Кем выдан"
                   maxlength="50"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Дата выдачи</h4>
            <input id="date_issuance"
                   type="date"
                   data-ng-model="userData.dateIssuance"
                   data-ng-max="today"
                   data-ng-min="maxDate"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Идентификационный номер</h4>
            <input id="identifier"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.identifier"
                   placeholder="Идентификационный номер"
                   maxlength="14"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Место рождения</h4>
            <input id="birthday_place"
                   type="text" autocomplete="off"
                   data-ng-model="userData.birthdayPlace"
                   placeholder="Место рождения"
                   maxlength="50"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Город проживания</h4>
            <select name="city"
                    id="city"
                    data-ng-model="userData.city">
                <option value="1">Минск</option>
                <option value="2">Гомель</option>
                <option value="3">Гродно</option>
                <option value="4">Витебск</option>
                <option value="5">Брест</option>
                <option value="6">Могилёв</option>
            </select>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Адрес проживания</h4>
            <input id="address"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.address"
                   placeholder="Адрес проживания"
                   maxlength="50"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Домашний телефон</h4>
            <input id="house_phone"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.housePhone"
                   maxlength="11"
                   placeholder="8017-70-5-33-91">
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Мобильный телефон</h4>
            <input id="mobile_phone"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.mobilePhone"
                   maxlength="11"
                   placeholder="8029-326-77-05">
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Email</h4>
            <input id="mail"
                   type="email"
                   autocomplete="off"
                   data-ng-model="userData.email"
                   maxlength="50"
                   placeholder="example@example.com">
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Адрес прописки</h4>
            <input id="address_w"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.addressW"
                   placeholder="Адрес прописки"
                   maxlength="50"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Семейное положение</h4>
            <select name="marital_status"
                    id="marital_status"
                    data-ng-model="userData.maritalStatus">
                <option value="1">Не женат/не замужем</option>
                <option value="2">Женат/замужем</option>
            </select>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Гражданство</h4>
            <select name="nationality"
                    id="nationality"
                    data-ng-model="userData.nationality">
                <option value="1">Республика Беларусь</option>
                <option value="2">Российская федерация</option>
                <option value="3">США</option>
                <option value="4">ФРГ</option>
            </select>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Инвалидность</h4>
            <select name="disability"
                    id="disability"
                    data-ng-model="userData.disability">
                <option value="1">1 ступень</option>
                <option value="2">2 ступень</option>
                <option value="3">3 ступень</option>
                <option value="4">Отсутствует</option>
            </select>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Пенсионер</h4>
            <label class="custom-form__label--inline" for="pensioner_yes">
                <input type="radio"
                       id="pensioner_yes"
                       name="pensioner"
                       data-ng-value="true"
                       data-ng-model="userData.pensioner">
                <span>Да</span>
            </label>
            <label class="custom-form__label--inline" for="pensioner_no">
                <input type="radio"
                       id="pensioner_no"
                       name="pensioner"
                       data-ng-value="false"
                       data-ng-model="userData.pensioner">
                <span>Нет</span>
            </label>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Ежемесячный доход</h4>
            <input id="monthly_income"
                   type="text"
                   autocomplete="off"
                   data-ng-model="userData.monthlyIncome"
                   placeholder="1000">
        </div>
        <div class="custom-form__block">
            <input type="submit"
                   value="Отправить"
                   data-ng-click="sendData()">
        </div>
    </form>
</div>