<div class="custom-form">
    <form name="depositForm">
        <div class="custom-form__block">
            <h4 class="custom-form__title">Вы выбрали депозит "{{bankName}}"</h4>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Валюта</h4>
            <select name="currency"
                    id="currency"
                    data-ng-model="depositData.currency">
                <option value="BYN">BYN</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Дата старта депозита</h4>
            <input id="startDate"
                   type="date"
                   data-ng-model="depositData.startDate"
                   required>
        </div>
        <div class="custom-form__block">
            <h4 class="custom-form__block-name">Сумма по вкладу</h4>
            <input type="text"
                   id="sum"
                   autocomplete="off"
                   data-ng-model="depositData.sum"
                   placeholder="Сумма по вкладу"
                   required>
        </div>
    </form>
</div>