<ul class="users-list">
    <li class="users-list__item" data-user-id="{{user.iduser}}" data-ng-repeat="user in users">
        {{user.surname}} {{user.name}}
        <span class="users-list__icons">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </span>
    </li>
</ul>