<div class="user-info">
    <p>
        <strong>Фамилия:</strong>
        {{user.surname}}
    </p>
    <p>
        <strong>Имя:</strong>
        {{user.name}}
    </p>
    <p>
        <strong>Отчество:</strong>
        {{user.patronymic}}
    </p>
    <p>
        <strong>Дата рождения:</strong>
        {{user.birthday}}
    </p>
    <p>
        <strong>Пол:</strong>
        {{user.gender}}
    </p>
    <p>
        <strong>Серия паспорта:</strong>
        {{user.passportSeries}}
    </p>
    <p>
        <strong>Номер паспорта:</strong>
        {{user.passportNumber}}
    </p>
    <p>
        <strong>Кем выдан:</strong>
        {{user.passportIssuance}}
    </p>
    <p>
        <strong>Дата выдачи:</strong>
        {{user.dateIssuance}}
    </p>
    <p>
        <strong>Идентификационный номер:</strong>
        {{user.identifier}}
    </p>
    <p>
        <strong>Место рождения:</strong>
        {{user.birthdayPlace}}
    </p>
    <p>
        <strong>Город проживания:</strong>
        {{user.city}}
    </p>
    <p>
        <strong>Адрес проживания:</strong>
        {{user.address}}
    </p>
    <p>
        <strong>Домашний телефон:</strong>
        {{user.housePhone}}
    </p>
    <p>
        <strong>Мобильный телефон:</strong>
        {{user.mobilePhone}}
    </p>
    <p>
        <strong>Email:</strong>
        {{user.email}}
    </p>
    <p>
        <strong>Адрес прописки:</strong>
        {{user.addressW}}
    </p>
    <p>
        <strong>Семейное положение:</strong>
        {{user.maritalStatus}}
    </p>
    <p>
        <strong>Гражданство:</strong>
        {{user.nationality}}
    </p>
    <p>
        <strong>Инвалидность:</strong>
        {{user.disability}}
    </p>
    <p>
        <strong>Пенсионер:</strong>
        {{user.pensioner}}
    </p>
    <p>
        <strong>Ежемесячный доход:</strong>
        {{user.monthlyIncome}}
    </p>
</div>